.image-grid {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 340px;
  grid-auto-flow: row dense;

  .image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column-start: auto;
    grid-row-start: auto;
  }
}
